body {
    font-family: 'Times New Roman';
    background: url(../img/background.jpg) ;
}

.cv {
    width: 850px;
    margin: 30px auto;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 20px rgb(139, 139, 139);

}

.name {
    text-align: center;
    font-size: 35px;
}
