body {
    font-family: 'Times New Roman';
    background: url(../img/background.jpg) ;
}

.cv {
    width: 800px;
    margin: 30px auto;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 20px rgb(139, 139, 139);

}

.name {
    text-align: center;
    font-size: 40px;
}

.photo {
    display: block;
    width: 230;
    height: 230;
    margin: 0 auto;
    border-radius: 50%;
}

h2 {
    font-size: 25px;
}

.strengths {
    padding: 0 20px;
}
.skills {

    padding: 0 20px;
}